body {
  background-color: beige;
  header {
    nav {
      font-family: "AmaticSC-Regular";
      font-size: 30px;
      text-decoration: none;
      div {
        a {
          img {
            .logo {
              width: 200px;
              border-radius: 50%;
              &:hover {
                transform: rotate(360deg);
                transition: 5s;
              }
            }
          }
        }
        h1 {
          .tituloprincipal {
            font-size: 50px;
          }
        }
      }
    }
  }
}
